<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000000">
        <link rel="manifest" href="/public/app.webmanifest">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/styles.css">
        <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
        <title>Storefront</title>
    </head>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <div class="d-lg-none float-right hstack gap-1">
                <div class="dropstart">
                    <% if (!User) { %>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Login</button>
                    <ul class="dropdown-menu" style="min-width:200px;">
                        <li><div>
                            <form action="/api/user/login" method="POST" enctype="multipart/form-data" name="itemForm" id="itemFormSM">
                                <div class="form-group m-1">
                                    <label for="username">Username</label>
                                    <input class="form-control" type="text" id="username" name="username" placeholder="Username" required>
                                </div>
                                <div class="form-group m-1">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="text" id="password" name="password" placeholder="Password" required>
                                </div>
                                <button class="btn btn-secondary m-1" type="button" onclick="javascript:submitForm('itemFormLG')">Login</button>
                            </form>
                        </div></li>
                    </ul>
                    <% } else { %>
                        <div class="hstack gap-3 align-middle">
                            <span>Hello, <%= User[0] %></span>
                            <button type="button" class="btn btn-primary" onclick="javascript:logout()">Logout</button>
                        </div>
                    <% } %>
                </div>
                <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/items/">Items</a>
                    </li>
                </ul>
            </div>
            <div class="dropstart float-right d-none d-lg-block">
                <% if (!User) { %>
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Login</button>
                <ul class="dropdown-menu" style="min-width:200px;">
                    <li><div>
                        <form action="/api/user/login" method="POST" enctype="multipart/form-data" name="itemForm" id="itemFormLG">
                            <div class="form-group m-1">
                                <label for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" placeholder="Username" required>
                            </div>
                            <div class="form-group m-1">
                                <label for="password">Password</label>
                                <input class="form-control" type="text" id="password" name="password" placeholder="Password" required>
                            </div>
                            <button class="btn btn-secondary m-1" type="button" onclick="javascript:submitForm('itemFormLG')">Login</button>
                        </form>
                    </div></li>
                </ul>
                <% } else { %>
                    <div class="hstack gap-3 align-middle">
                        <span>Hello, <%= User[0] %></span>
                        <button type="button" class="btn btn-primary" onclick="javascript:logout()">Logout</button>
                    </div>
                <% } %>
            </div>
        </div>
    </nav>
    <div>
        <body class=" text-center">
            <div class="bg-secondary rounded-bottom-4">
                <h1 class="h-1 text-light">Welcome!</h1>
            </div>
            <p class="text-body fs-4">Storefront</p>
        </body>
    </div>
    <div>
        <% 
        var homeItems = items.length;
        if (items.length > 4) { homeItems = 4 };
           
        for( let index = 0; index < homeItems; index++ ) { %>
            <figure class="figure m-1 rounded-4 hover-shadow">
                <a href="/items/<%= items[index]._id %>">
                    <img src="/public/img/image-placeholder.png" data-src="/public/img/<%= items[index]._id %>.png" alt="<%= items[index].name %>" class="figure-img m-1" width="300px">
                </a>
                <figcaption class="figure-caption m-1 fs-4"><%= items[index].name %></figcaption>
            </figure>
        <% }; %>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/public/js/index.js" ></script>
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown()
        });
    </script>
</html>
