<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-size=1, maximum-scale=1, user-scalable=no">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/styles.css">
        <title><%= item.name %></title>
    </head>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <div class="d-lg-none float-right hstack gap-1">
                <div class="dropstart">
                    <% if (!User) { %>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Login</button>
                    <ul class="dropdown-menu" style="min-width:200px;">
                        <li><iframe class="dropdown-item" src="/login" title="Login" height="200px" width="300px"></iframe></li>
                    </ul>
                    <% } %>
                </div>
                <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/items/">Items</a>
                    </li>
                </ul>
            </div>
            <div class="dropstart float-right d-none d-lg-block">
                <% if (!User) { %>
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Login</button>
                <ul class="dropdown-menu" style="min-width:200px;">
                    <li><iframe class="dropdown-item" src="/login" title="Add Item" height="200px"></iframe></li>
                </ul>
                <% } %>
            </div>
        </div>
    </nav>   
    <div>
        <body class=" text-center">
            <div class="bg-primary rounded-bottom-4">
                <h1 class="text-light"><%= item.name %></h1>
            </div>
        </body>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-auto d-none d-md-block">
                <img src="https://jackbkr-bs2205.azurewebsites.net/public/img/<%= item._id %>.png" alt="<%= item.name %>" class="m-1" width="400px" height="400px">
            </div>
            <div class="col">
                <div class="row d-block d-md-none ">
                    <img src="https://jackbkr-bs2205.azurewebsites.net/public/img/<%= item._id %>.png" alt="<%= item.name %>" class="m-1" width="device-width">
                </div>
                <div class="row fs-4 m-1">Description</div>
                <div class="row m-1"><%= item.description %></div>
                <div class="row m-1 fw-bold">£<%= item.price %></div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/public/js/viewItem.js" ></script>
    <script>
        $(document).ready(function(){
            $('.dropdown-toggle').dropdown()
        });
    </script>
</html>
